@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 6px 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  font-family: "Public Sans" , sans-serif;   
 
}

.sidebar-header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
}

.sidebar-header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
  width: 100%;

}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 15px;
}

.menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu-item .icon {
  margin-right: 10px;
  font-size: 20px;
}

.menu-item .badge {
  margin-left: auto;
  background-color: #f1c40f;
  color: #4f4e4e;
  border-radius: 40%;
  padding: 5px 10px;
  font-size: 15px;
}

.menu-item.selected a {
  background-color: #f1c40f;
  color: #fff;
}

.menu-item a:hover {
  background-color: #f1c40f;
  color: #fff;
}
.texxt {
  color: rgba(111, 107, 125, 1);
  ;
}
.applic {
font-size: 11px;
font-weight: 80;
line-height: 20px;
text-align: left;
padding-left: 13%;
color: rgb(156, 155, 162);


}




